{% extends 'admin.html.twig' %}

{% block title %}Edit Medicament{% endblock %}

{% block body %}
    <h1>Edit Medicament</h1>

    {{ include('admin_medicament/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_medicament_index') }}">back to list</a>

    {{ include('admin_medicament/_delete_form.html.twig') }}
{% endblock %}
