{% extends 'admin.html.twig' %}

{% block title %}New Medicament{% endblock %}

{% block body %}
    <h1>Create new Medicament</h1>

    {{ include('admin_medicament/_form.html.twig') }}

    <a href="{{ path('app_admin_medicament_index') }}">back to list</a>
{% endblock %}
